<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0"> Questionnaire </h3>
        </div>
        <div class="table-responsive">
          
                <input class="form-control" placeholder="Search" type="text"
               [(ngModel)]="searchText" (blur)="chercherUser(searchText)" >
              
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom sujet</th>
                <th scope="col">Nom Questionnaire</th>
                <th scope="col">Action</th>
               
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of liste" >
               
               
                <td > 
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning" ></i>
                     {{list.sujet}}
                  </span>
                 
                </td>
                

               
                <td > 
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning" ></i>
                    {{list.title}}
                     
                  </span>
                 
                </td>

               
               

                <td>
                
                    <button type="button" [routerLink]="['/formation']"style="background-color:transparent;border: transparent;" title="affecter un questionnaire a une formation">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-plus"></i></div></button> 

                      
                            <button type="button" (click)="deleteG(list)" value="list.id" name="btn" style="background-color:transparent;border: transparent;">
                              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                  <i class="far fa-trash-alt"></i>  
                              </div></button>
                              <button type="button" (click)="opendialog(l.id)"  name="btn" style="background-color:transparent;border: transparent;">
                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                  <i class="fas fa-boxes"></i>
                                </div>
                                
                                </button>
                
                 
               
                </td>

                
              </tr>
              </tbody>
              </table>
              </div>
              </div></div>
              </div>
             

