  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                  <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                         
                            <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/user-profile']"> Utilisateur</a></span>
                          </div>
                          <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                              <i class="fas fa-users"></i>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
          
                            <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/ajout-groupe']">Groupe</a></span>
                          </div>
                          <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                              <i class="fas fa-users"></i>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
          
                            <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/ajout-domaine']"> Domaine</a></span>
                          </div>
                          <div class="col-auto">
                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                              <i class="fas fa-users"></i>
                            </div>
                          </div>
                        </div>
          
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                           
                            <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/ajout-specialite']"> Spécialité</a></span>
                          </div>
                          <div class="col-auto">
                            <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                              <i class="fas fa-percent"></i>
                            </div>
                          </div>
                        </div>
             
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">

    <div class="row">

        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">

                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                      <div class="col-8">
                       
                      </div>
                    </div>
                  </div>
               
                <div class="card-body">
                  <form [formGroup]="module">
      
                  <fieldset>
                  <legend> Ajouter Module</legend>
                  <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" (change)="disable()" placeholder="Nom Module" type="text" formControlName="nom_module" >
                    <button [disabled]="isDisabeld" (click)="plus()">+</button><br>
                  </div>
                </div>
                     
               
                 <button type="submit"(click)="valuee()" class="btn btn-primary mt-4" [disabled]="isDisable" style="position:static; margin-left: 108%;"> Ajouter</button> 
                </fieldset>
                </form> 

                </div>
        </div>
    </div>



</div>
    

        
      