<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                 
                    <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/user-profile']"> Utilisateur</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
  
                    <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/groupe']">Groupe</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
  
                    <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/ajout-domaine']"> Domaine</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                   
                    <span class="h2 font-weight-bold mb-0"> <a routerLinkActive="active" [routerLink]="['/ajout-specialite']"> Spécialité</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
     
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Groupe de la plateforme </h3>
          </div>

          <div class="table-responsive">
            
                  <input class="form-control" placeholder="Search" type="text"
                 [(ngModel)]="searchText" (blur)="chercherG(searchText)" >
                
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                  <th scope="col"*ngIf="btnhidden">sous-groupe</th>
                  <th scope="col"*ngIf="num !=0">nombre des apprenant</th>
                 
                 
                </tr>
              </thead>
              <tbody cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)" >
               
                <tr *ngFor="let list of listeG" cdkDrag >
                  
                 
                 
                  <td *ngIf="list.id_grp_p ==null  || searchS" >
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning" ></i>
                       {{list.nom}}
                    </span>
                   
                  </td>
  
                 
                  
                  
                  <td *ngIf="list.id_grp_p ==null  || searchS">
                    <span class="badge badge-dot mr-4">
                      {{list.description}}
                    </span>
                    
                  </td>
  
                 
                 
  
                  <td *ngIf="list.id_grp_p ==null || searchS">
                  
                    <button type="button" (click)="deleteG(list)" value="list.id" name="btn" style="background-color:transparent;border: transparent;">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="far fa-trash-alt"></i>  
                    </div>
                    
                    </button>
                    <button type="button" (click)="listeSousGroupe(list.id)" value="list.id" name="btn" style="background-color:transparent;border: transparent;">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-boxes"></i>
                      </div>
                      
                      </button>
                      <button type="button" [routerLink]="['/affectation', list.id]" value="list.id" name="btn" style="background-color:transparent;border: transparent;">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-plus"></i>
                        </div>
                      </button>
                      <button type="button" (click)="number(list.id)" value="list.id" name="btn" style="background-color:transparent;border: transparent;">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-street-view"></i>
                        </div>
                      </button>
                        
                   
                 
                  </td>
                 
                  
                  <ul class="list-group" *ngFor="let l of listeSG" style="float: left ; width: 100px;">
                 
                
                    <li  class="list-group-item" (click)="chercherG(l.nom)"  *ngIf="btnhidden== true &&(( list.id==l.id_grp_p )||((list.id==l.id_grp_p_p )))" 
                  >
                       {{l.nom}}  </li>
                   
                 
                  </ul>
                  
                 
                  <ul class="list-group" *ngIf="num>0 && list.id_grp_p ==null "  >
                 
                
                    <li  class="list-group-item" >  
                  
                       {{num}}</li>
                   
                 
                  </ul>
           
                 
                  
               
                     
                </tr>
          
               </tbody>
              </table>
              </div>
              
              </div>
 
              </div>
             

     
              </div>
            </div>
  